.layout {
  display: flex;
  min-height: 100vh;
  background: #f9f9f9;
}

.main {
  margin-left: 240px;
  padding-top: 56px;
  flex: 1;
  min-height: 100vh;
}

.content {
  padding: 32px;
  max-width: 1200px;
}
