.section {
  padding: 3rem 1.5rem;
}

.grid {
  display: flex;

  gap: 1.5rem;

  overflow-x: auto;

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.grid::-webkit-scrollbar {
  display: none;
}

.grid > * {
  flex: 0 0 calc(100vw - 3rem);
}

@media (min-width: 600px) {
  .grid > * {
    flex: 0 0 calc((100vw - 4.5rem) / 2);
  }
}

@media (min-width: 900px) {
  .grid > * {
    flex: 0 0 calc((100vw - 6rem) / 3);
  }
}

@media (min-width: 1200px) {
  .grid {
    justify-content: center;

    overflow: visible;

    gap: 2.5rem;
  }

  .grid > * {
    flex: 0 0 250px;
  }
}