.section {
  padding: 2rem 1.5rem;
}

.layout {
  display: grid;

  gap: 3rem;
}

@media (min-width: 900px) {
  .layout {
    grid-template-columns:
      minmax(400px, 2fr)
      minmax(250px, 1fr);

    max-width: 1200px;

    margin: 0 auto;

    align-items: start;
  }
}