.section {
  padding: 5rem 1.5rem;
}

.layout {
  display: grid;

  gap: 4rem;
}

@media (min-width: 900px) {
  .layout {
    grid-template-columns:
      minmax(520px, 2fr)
      minmax(280px, 1fr);

    max-width: 1200px;

    margin: 0 auto;

    align-items: start;

    gap: 5rem;
  }
}