.section {
  padding: 4rem 1rem;
}

.section p {
  max-width: 900px;

  margin: 0 auto;

  text-align: justify;

  line-height: 1.9;

  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .section {
    padding: 6rem 5rem;
  }
}