.section {
  padding: 4rem 1rem;

  display: grid;

  gap: 3rem;
}

@media (min-width: 768px) {
  .section {
    padding: 4rem 5rem;
  }
}

@media (min-width: 900px) {
  .section {
    grid-template-columns:
      minmax(0, 1.85fr)
      minmax(280px, 1fr);

    align-items: start;

    gap: 5rem;
  }
}